@import './decor.css';
@import './empty.css';
@import './header.css';
@import './listitem.css';
@import './listitemactions.css';
@import './listitemdetails.css';
@import './responsive.css';

.saved-container {
    max-width: var(--container-lg);
    margin: 2rem auto;
    padding: 2rem 2.5rem 2.5rem 2.5rem;
    animation: fadeInUp 0.7s cubic-bezier(.39, .575, .565, 1) both;
}