@import './decor.css';
@import './logo.css';
@import './responsive.css';
@import './texts.css';

.intro {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
    max-width: var(--container-lg);
    margin: 3rem auto 0 auto;
    padding: 2.5rem 2rem;
    position: relative;
    margin-top: 5rem;
}

.intro__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    flex: 2 1 0;
}