.nav__brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--min-violet-primary);
    letter-spacing: 1px;
    user-select: none;
}

.nav__logo {
    font-family: inherit;
    color: var(--min-violet-primary);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
}