@import './cardactions.css';
@import './carddetails.css';
@import './cardimage.css';
@import './cards.css';
@import './notifs.css';
@import './responsive.css';
@import './search.css';

.search-section {
    max-width: var(--container-lg);
    margin: 2.5rem auto 0 auto;
    padding: 2rem 1rem;
    background: var(--min-violet-bg);
    border-radius: 2rem;
    box-shadow: 0 4px 32px var(--min-violet-shadow);
    min-height: 60vh;
}