@import './card.css';
@import './containers.css';
@import './icon.css';
@import './responsive.css';
@import './texts.css';

/* Minimalist Features Section */
.features {
    width: 100%;
    background: var(--min-violet-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 4rem 0;
}